<!DOCTYPE html>
<html lang="en">
<head>

	<title>Inventicator</title>
	<meta charset="utf-8">

	<style>
		.question {
			margin: 1em;
			padding: 1em;
			background: #eff;
		}

		.debugger {
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
			overflow: scroll;
			background: #eee;
			padding: 1em;
		}

		[v-cloak] {
			display: none !important;
		}

	</style>

</head>
<body>

<div id="inventicatorApp" v-cloak>

	<h1>Inventicator</h1>

	<hr>

	<h6>Example of how to render questions individually:</h6>

	<div class="question">
		<inv-question-select handle="marketSize" v-if="questionsLoaded"></inv-question-select>
	</div>

	<div class="question">
		<p>
			<input type="radio" name="marketType" value="Consumer" v-model="marketType"> Consumer
		</p>
		<p>
			<input type="radio" name="marketType" value="NonConsumer" v-model="marketType"> Non-consumer
		</p>
		<inv-question-multiselect handle="marketConsumer" v-if="questionsLoaded && marketType == 'Consumer'"></inv-question-multiselect>
		<inv-question-multiselect handle="marketNonConsumer" v-if="questionsLoaded && marketType == 'NonConsumer'"></inv-question-multiselect>
	</div>

	<div class="question">
		<inv-question-plusminus handle="socialEconomicConsiderations" v-if="questionsLoaded"></inv-question-plusminus>
	</div>

	<hr>

	<h6>Demo of all questions:</h6>

	<ul style="background: #ffe;">
		<li v-for="(handle, question) in questions">
			<component :is="question.componentName" :handle="handle"></component>
		</li>
	</ul>

	<hr>

	<h6>Example of how to render totals for submission via form:</h6>

	<ul style="background: #ffe;">
		<li v-for="(handle, total) in totals">
			<label for="{{ handle }}">{{ handle }}: </label>
			<input type="text" disabled name="totals[{{ handle }}]" value="{{ total }}">
		</li>
	</ul>

	<!-- Debugger -->

	<div class="debugger">

		<div id="chart_div" style="width: 100%;"></div>

		<h2>Totals</h2>
		<pre>{{ totals | json 4 }}</pre>

		<h2>Current Answers</h2>
		<pre>{{ currentAnswers | json 4 }}</pre>

		<h2>Current Scores</h2>
		<pre>{{ currentScores | json 4 }}</pre>

	</div>

</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>-->
<script src="js/vue.js"></script>
<script src="js/vue-resource.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/inventicator.js"></script>

<script type="text/x-template" id="tmp-inv-question">
	<div>This question could not be loaded.</div>
</script>
<script type="text/x-template" id="tmp-inv-question-select">
	<div>
		<h3>~[ question.heading ]~</h3>
		<p><strong>~[ question.caption ]~</strong></p>
		<p><em>~[ question.instructions ]~</em></p>

		<select :name='inputName' v-model='question.currentAnswer'>
			<option v-for="(handle, option) in question.options" :value='handle' :selected='option.default'>
				~[ option.caption ]~
			</option>
		</select>
	</div>
</script>
<script type="text/x-template" id="tmp-inv-question-multiselect">
	<div>
		<h3>~[ question.heading ]~</h3>
		<p><strong>~[ question.caption ]~</strong></p>
		<p><em>~[ question.instructions ]~</em></p>

		<div v-for="(handle, option) in question.options">
			<label for="#~[ question.handle ]~_~[ handle ]~">
				<input type="checkbox" name="~[ question.handle ]~[]" id="~[ question.handle ]~_~[ handle ]~" :value='handle' v-model='question.currentAnswer' :checked='option.default'>
				~[ option.caption ]~ </label>
		</div>
	</div>
</script>
<script type="text/x-template" id="tmp-inv-question-plusminus">
	<div>
		<h3>~[ question.heading ]~</h3>
		<p><strong>~[ question.caption ]~</strong></p>
		<p><em>~[ question.instructions ]~</em></p>

		<table>
			<tr v-for="(handle, option) in question.options">
				<td>
					~[ option.caption ]~
				</td>
				<td>
					<label for="#~[ question.handle ]~_~[ handle ]~_plus">
						<input type="checkbox" name="~[ question.handle ]~[]" id="~[ question.handle ]~_~[ handle ]~_plus" value='+~[ handle ]~' v-model='question.currentAnswer' :checked='option.default || option.plusDefault'>
						+ </label>
				</td>
				<td>
					<label for="#~[ question.handle ]~_~[ handle ]~_minus">
						<input type="checkbox" name="~[ question.handle ]~[]" id="~[ question.handle ]~_~[ handle ]~_minus" value='-~[ handle ]~' v-model='question.currentAnswer' :checked='option.default || option.minusDefault'>
						- </label>
				</td>
			</tr>
		</table>
	</div>
</script>

</body>
</html>
